@import "./fonts.scss";
@import "./base.scss";

#app {
  max-width: 1344px;
  min-height: 100vh;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template: minmax(100vh, auto) 1fr minmax(360px, auto) / 1fr;
  grid-template-areas:
    "header"
    "main"
    "footer";
  @media (max-width: 767px) {
    display: grid;
    grid-template: minmax(100vh, auto) 1fr minmax(160px, auto) / 1fr;
    grid-template-areas:
      "header"
      "main"
      "footer";
  }
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

.about,
.concept,
.guides,
.mission,
.opportunities,
.product,
.team,
.footer {
  margin-top: var(--section-gap);
  @media screen and (max-width: 767px) {
    margin-top: var(--section-gap-mobile);
  }
}
